*{
  z-index: 1;
}

body{
  max-width:960px;
  margin: 0 auto;
  background-color: rgb(28, 28, 28);
  color:white;
  font-family: 'Rubik Mono One', sans-serif;
}

.project-images{
  max-width: 500px;
  height: auto;
}

h1 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 2em;
  width:100%;
}

a:link { color:#1eeb33; text-decoration:none; font-weight:normal; }
a:visited { color: #1eeb33; text-decoration:none; font-weight:normal; }
a:hover { color: #1eeb33; text-decoration:underline; font-weight:normal; }
a:active { color: #1eeb33; text-decoration:none; font-weight:normal; }

h2{
  text-align: center;
}

p{
  font-family: 'Dosis', sans-serif;
}

@media only screen and (min-width: 640px){
  h1 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 5em;
    width:100%;
  }
}
