body{
  max-width:960px;
  margin: 0 auto;
  background-color: rgb(95, 215, 103);
}

.nav-bar h1:first-child{
  margin-left: 22%;
}

.nav-bar h1{
   margin-left: 10%;
  display: inline;
  width: 50px;
  text-align: center;
}
