.projects article:last-child{
  margin-bottom:10%;
}

.home h1 {
  margin-top: 20%;
}

.projects h1, .about-me h1{
  margin-top:49%;
}

.projects {
  margin-top:5%;
}

.home h1{
  margin-top: 30%;
  text-align: center;
}

.nav-bar{
  margin-top: 3%;
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 2%;
  width:100%;
  /*float:right;*/
}

.fa-bars{
  float:right;
}

#about-me{
  text-align: center;
  width:100%;
}

@media only screen and (min-width: 640px){
.nav-bar{
  float:right;
}
.nav-bar ul li{
  display: inline;
}

.nav-bar ul{
  float:right;
}

.nav-bar .fa-5x{
  display:none;
}

#home h1{
  margin: 0 auto;
  z-index: 1;
  margin-top: 20%;
  text-align:center;
}

.projects h1{
  margin-top:10%;
}

.about-me h1{
  margin-top:20%;
}
}
